@import 'tailwindcss';

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

body {
    background-image: url("/ac8935f5-4de4-4a0b-8145-0ee995569abe.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Inter;
}

.input:focus {
    outline: 2px rgb(0, 34, 255) solid;
}


/* Slider Thumb Styling */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 18px;
  width: 18px;
  background-color: #078c9b;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background-color: #078c9b;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* Hide default track so our Tailwind bg class shows */
input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 8px;
  background: transparent;
}
input[type="range"]::-moz-range-track {
  height: 8px;
  border-radius: 8px;
  background: transparent;
}



/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #078c9b rgba(255, 255, 255, 0.1);
}

.range {
  position: absolute;
  width: 100%;
  height: 18px; /* wysokość inputa i kółek */
  pointer-events: none;
  appearance: none;
  background: transparent;
  z-index: 10;
  top: 0;
  margin: 0;
  padding: 0;
}

/* Styl kółek (thumbów) */
.range::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  height: 18px;
  width: 18px;
  background-color: #078c9b;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}

.range::-moz-range-thumb {
  pointer-events: auto;
  height: 18px;
  width: 18px;
  background-color: #078c9b;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}

/* Pasek slidera (track) */
.range-track {
  position: absolute;
  left: 0;
  width: 100%;
  height: 8px;
  background: gray;
  border-radius: 8px;
  z-index: 1;
}

