@import 'tailwindcss';

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

body {
    background-image: url(/023 Rare Wind.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Inter;
}

.input:focus {
    outline: 2px rgb(0, 34, 255) solid;
}




