.frames-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    row-gap: 10px;
}